<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tips.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Tips.Properties.Settings>
            <setting name="FontFamily" serializeAs="String">
                <value>微软雅黑, 30pt</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="TipsOpacity" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="Note1Clock" serializeAs="String">
                <value>9:00</value>
            </setting>
            <setting name="Note2Clock" serializeAs="String">
                <value>12:00</value>
            </setting>
            <setting name="Note3Clock" serializeAs="String">
                <value>16:00</value>
            </setting>
        </Tips.Properties.Settings>
    </applicationSettings>
</configuration>